body {
  background: #f1f1f1 !important;
}
.header {
  padding: 20px;
}
.get-weather, .data-weather {
  padding: 20px;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
  margin-bottom: 20px;
}